html{
	font-size: 62.5%;
}

/* About Page */

.team {
  display: flex;
  justify-content: space-evenly;
}

.member {
  align-items: center;
  text-align: center;
}

.profile {
  border-radius: 50%;
  width: 25rem;
  margin: 1rem;
}

.github {
  width: 5rem;
  margin: 1rem;
}

.title {
  text-align: center;
}

.role {
  text-align: center;
  border-top: solid grey 0.3rem;
  margin-top: 5rem;
  padding-top: 5rem;
}



/* Sell Form */

.sellitem {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin: 4rem;
}