html{
	font-size: 72.5%;
}

/* About Page */

.team {
  display: flex;
  justify-content: space-evenly;
}

.member {
  align-items: center;
  text-align: center;
}

.profile {
  border-radius: 50%;
  width: 25rem;
  margin: 1rem;
}

.github {
  width: 5rem;
  margin: 1rem;
}

.title {
  text-align: center;
}

.role {
  text-align: center;
  border-top: solid grey 0.3rem;
  margin-top: 5rem;
  padding-top: 5rem;
}



/* Sell Form */

.sellitem {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin: 4rem;
}

.welcome {
  background-color: oldlace;
}

.welcome p {
  font-size: 22px;
}

.title {
    text-align: center;
    padding: 10px;
    font-weight: 800;
    color: transparent;
    font-size: 90px;
    background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190614/ourmid/pngtree-african-savanna-silhouette-background-illustration-image_121805.jpg") repeat;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 90px;
    letter-spacing: -8px;
}

.item-list {
  background: url('https://images.assetsdelivery.com/compings_v2/tarapong/tarapong1508/tarapong150800006.jpg');
}